body{
  font-family: 'Roboto', sans-serif;
}

a.site-logo:link {
  font-family: 'Major Mono Display', monospace;
  font-size: 30px;
}

.navbar-item{
  line-height: 2.0;
}

.navbar-teste{
  padding-top: 1.0rem;
}

.navbar-social{
  font-size: 1.0rem;
  padding-right: 0.5rem;
}

.navbar-categories{
  margin-left: 2.5%;
}

.title{
  font-family: 'Playfair Display', serif;
}

.divider-title{
  font-family: 'Playfair Display', serif;
  font-size: 1.0rem;
  text-transform: uppercase;
  margin-bottom: 1.0rem;
}

.grid{
  margin: 0 auto;  /*centered */
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  width: 360px;
  margin-bottom: 10px;
}
