html{
  background-color: #f0f2f5;
}

body{
  font-family: 'Roboto', sans-serif;
}

a:link, a:visited{
  color: #9432cd;
}

a:hover, a:active{
  color: #9f46d2;
}

.navbar{
  background-color: #17141f !important;
}

.navbar-brand{
  font-family: 'Major Mono Display', monospace;
  font-size: 2.25rem;
}

.navbar-item{
  color: #9432cd;
}

a.navbar-item:hover, a.navbar-item:active{
  color: #9432cd;
  background-color: #2d283e;
}

.navbar-start .navbar-item{
  padding-top: 1.0rem;
}

.navbar-social{
  font-size: 1.0rem;
  padding-right: 0.5rem;
}

.navbar-end .button{
  background-color: #17141f;
  color: #9432cd;
  border: none;
}

.search-bar{
  display: none;
  background: #f5f5f5;
  padding: 10px;
}

.search-bar input{
  width: 65%;
  background-color: transparent;

  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: none;
}

.search-bar input::placeholder{
  color: #000000;
  text-transform: uppercase;
}

.search-bar .button{
  background-color: transparent;
  border: none;
}

.footer{
  display: none;
  background: #17141f;
  color: #f0f2f5;
  padding: 10px;
}

.footer h1{
  font-family: 'Playfair Display', serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 1.0rem;
}

.title{
  font-family: 'Playfair Display', serif;
}

.divider-title{
  font-family: 'Playfair Display', serif;
  font-size: 1.0rem;
  text-transform: uppercase;
  margin-bottom: 1.0rem;
  margin-left: 8.5%;
  color: #17141f;
}

.section{
  padding-top: 2rem !important;
  padding-bottom: 1rem !important; 
}

.section-featured{
  padding: 1rem 0 1rem 0;
}

.grid{
  margin: 0 auto;  /*centered */
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  width: 365px;
  margin-bottom: 10px;
}

.card-content{
  background-color: #17141f;
}

a.is-title:link, a.is-title:visited{
  color: #f0f2f5;
}

a.is-title:hover, a.is-title:active{
  color: #9432cd;
}

.card-content h1{
  font-family: 'Playfair Display', serif;
  font-size: 1.65rem;
}

.card-content small{
  color: #685f86;
}

.card-content .content p{
  color: #f0f2f5 !important;
}

.card-content .tag{
  background-color: #802bb1;
  color: #f0f2f5;
  text-transform: uppercase;
  font-size: .65rem;
}

.card-content .tag:hover{
  text-decoration: none;
  background-color: #9432cd;
}

.carousel {
  background: transparent;
  margin-bottom: 2%;
}

.carousel-cell {
  width: 80%;
  height: 550px;
  margin-right: 0px;
  background: #17141f;
  background-position: center center;
  background-size: cover;
}

.is-featured{
  position: relative;
  height: 100%;
}

.opacity{
  position: relative;
  background: rgba(23, 20, 31, 0.6);
  transition: 1s;
  height: 100%;
}

.opacity:hover{
  background: rgba(23, 20, 31, 0.2);
}

.is-featured .overlay{
  color: #ffffff;
  background-image: linear-gradient(to bottom, rgba(11,10,16,0), rgba(11,10,16,1));
  position: absolute;
  padding: 15px;
  bottom: 0;
  width: 100%;
}

.is-featured img{
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.is-featured img:hover{
  opacity: 1.0;
}

.is-featured h1{
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  color: #f0f2f5;
}

.is-featured p{
  padding-left: 1px;
  color: #f0f2f5;
}

.is-featured a{
  text-transform: uppercase;
}

.is-featured .tag{
  background-color: #802bb1;
  color: #f0f2f5;
  text-transform: uppercase;
  font-size: .70rem;
}

.is-featured .tag:hover{
  text-decoration: none;
  background-color: #9432cd;
}

.is-post-image{
  background-color: #000000;
}

.is-post-image img{
  opacity: 0.5;
}

.is-post-title{
  position: absolute;
  top: 30%;
  left: 32%;
  text-align: center;
}

.is-post-title h1{
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  color: #fbfbfb;
  margin-top: 1rem !important;
  margin-bottom: .75rem !important;
}

.is-post-title h6{
  font-size: .85rem;
  color: #fbfbfb;
  margin-bottom: 1.2rem !important;
}

.is-post-title .tag{
  text-transform: uppercase;
  font-size: .85rem;
}

.is-post-title .tag:hover{
  text-decoration: none;
  background-color: #595959;
}

.is-post{
  width: 75%;
  margin-left: 12.5%;
}

.is-post h6{
  border-bottom: 1px solid #595959;
}

.is-author{
  margin-top: 2rem;
  margin-left: 31%;
}

.is-author .content{
  margin-top: 1.6rem;
}