html{
  background-color: #0b1328;
}

body{
  font-family: 'Raleway', sans-serif;
}

a:link, a:visited{
  color: #E509BB;
  transition: .3s;
}

a:hover, a:active{
  color: #FD33C8;
}

.navbar{
  background-color: #0b1328 !important;
}

.navbar-brand a{
  font-family: 'Major Mono Display', monospace;
  font-size: 2.25rem;
  color: #E509BB;
  transition: .3s;
}

.navbar-brand a:hover{
  color: #FD33C8;
}

.navbar-start .navbar-item{
  padding-top: 1.0rem;
}

.navbar-start a{
  color: #E509BB;
  transition: .3s;
}

.navbar-start a:hover{
  color: #FD33C8;
  background-color: transparent;
}

.navbar-social{
  font-size: .9rem;
  padding-right: .5rem;
}

.navbar-end .button{
  background-color: #0b1328;
  color: #E509BB;
  border: none;
}

.search-bar{
  display: none;
  background: #0D1730;
  padding: 10px;
}

.search-bar input{
  width: 65%;
  background-color: transparent;

  border: 1px solid #E509BB;
  border-radius: 0px;
  box-shadow: none;
}

.search-bar input::placeholder{
  color: #E509BB;
  text-transform: uppercase;
}

.search-bar .button{
  color: #E509BB;
  background-color: transparent;
  border: none;
}

.footer{
  display: none;
  background: #0D1730;
  color: #E6DFF5;
  padding: 10px;
}

.footer h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 1.0rem;
}

.carousel {
  background: transparent;
  margin-bottom: 2%;
}

.carousel-cell {
  width: 85%;
  height: 550px;
  margin-right: 0px;
  background: #0D1730;
  background-position: center center;
  background-size: cover;
}

.flickity-button {
  position: absolute;
  background: transparent;
  border: none;
  color: rgba(4,221,247,0.5);
}

.flickity-button:hover {
  position: absolute;
  background: transparent;
  border: none;
  color: rgba(4,221,247,0.9);
}

.flickity-page-dots .dot{
  background: #0479F7;
}

.is-featured{
  position: relative;
  height: 100%;
}

.opacity{
  position: relative;
  background: rgba(11, 19, 40, 0.65);
  transition: .5s;
  height: 100%;
}

.opacity:hover{
  background: rgba(11, 19, 40, 0.25);
}

.is-featured .overlay{
  background-image: linear-gradient(to bottom, rgba(11,19,40,0), rgba(11,19,40,1));
  position: absolute;
  padding: 15px;
  bottom: 0;
  width: 100%;
}

.is-featured img{
  width: 100%;
  height: 100%;
  /*opacity: 0.6;*/
}

/*.is-featured img:hover{
  opacity: 1.0;
}*/

.is-featured h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
}

.is-featured p{
  padding-left: 1px;
  color: #D7DFF4;
}

.is-featured .is-read-more{
  text-transform: uppercase;
}

.is-featured .tag{
  background-color: #0479F7;
  color: #E6DFF5;
  text-transform: uppercase;
  font-size: .70rem;
  transition: .3s;
}

.is-featured .tag:hover{
  text-decoration: none;
  background-color: #02A3FD;
}

.section{
  padding-top: 2rem !important;
  padding-bottom: 1rem !important; 
}

.grid{
  margin: 0 auto;  /*centered */
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  width: 365px;
  margin-bottom: 10px;
}

.card{
  /*border: 1px solid #0479F7;*/
  background-color: #0D1730;
}

.card-image{
  border-bottom: 1px solid #0b1328;
}

.card-opacity{
  position: absolute;
  background: rgba(13, 23, 48, 0.45);
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: .5s;
}

.card-opacity:hover{
  position: absolute;
  background: rgba(13, 23, 48, 0.15);
  width: 100%;
  height: 100%;
  z-index: 999;
}

.card-content{
  position: relative;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -18px;
  z-index: 999;
}

a.is-title:link, a.is-title:visited{
  color: #d7dff4;
}

a.is-title:hover, a.is-title:active{
  color: #ebeffa;
}

.card-content h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.65rem;
  padding-top: 5px;
}

.card-content small{
  color: #d7dff4;
}

.card-content .content p{
  color: #d7dff4 !important;
}

.card-content .tag{
  background-color: #0479F7;
  color: #E6DFF5;
  text-transform: uppercase;
  font-size: .65rem;
  transition: .3s;
}

.card-content .tag:hover{
  text-decoration: none;
  background-color: #02A3FD;
}