html{
  background-color: #0b1328;
}

body{
  font-family: 'Raleway', sans-serif;
}

a:link, a:visited{
  color: #E509BB;
  transition: .3s;
}

a:hover, a:active{
  color: #FD33C8;
}

.navbar{
  background-color: #0b1328 !important;
}

.navbar-brand a{
  font-family: 'Major Mono Display', monospace;
  font-size: 2.25rem;
  color: #E509BB;
  transition: .3s;
}

.navbar-brand a:hover{
  color: #FD33C8;
}

.navbar-start .navbar-item{
  padding-top: 1.0rem;
}

.navbar-start a{
  color: #E509BB;
  transition: .3s;
}

.navbar-start a:hover{
  color: #FD33C8;
  background-color: transparent;
}

.navbar-social{
  font-size: .9rem;
  padding-right: .5rem;
}

.navbar-end .button{
  background-color: #0D1730;
  color: #F326CB;
  border: none;
}

.search-bar{
  display: none;
  background: #0D1730;
  padding: 10px;
}

.search-bar input{
  width: 65%;
  background-color: transparent;

  border: 1px solid #F326CB;
  border-radius: 0px;
  box-shadow: none;
}

.search-bar input::placeholder{
  color: #F326CB;
  text-transform: uppercase;
}

.search-bar .button{
  color: #F326CB;
  background-color: transparent;
  border: none;
}

.footer{
  display: none;
  background: #0D1730;
  color: #E6DFF5;
  padding: 10px;
}

.footer h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 1.0rem;
}

.carousel {
  background: transparent;
  margin-bottom: 2%;
}

.carousel-cell {
  width: 75%;
  height: 550px;
  margin-right: 0px;
  background: #0D1730;
  background-position: center center;
  background-size: cover;
}

.is-featured{
  position: relative;
  height: 100%;
}

.opacity{
  position: relative;
  background: rgba(11, 19, 40, 0.6);
  transition: 1s;
  height: 100%;
}

.opacity:hover{
  background: rgba(11, 19, 40, 0.2);
}

.is-featured .overlay{
  background-image: linear-gradient(to bottom, rgba(11,19,40,0), rgba(11,19,40,1));
  position: absolute;
  padding: 15px;
  bottom: 0;
  width: 100%;
}

.is-featured img{
  width: 100%;
  height: 100%;
  /*opacity: 0.6;*/
}

/*.is-featured img:hover{
  opacity: 1.0;
}*/

.is-featured h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
}

.is-featured p{
  padding-left: 1px;
  color: #D7DFF4;
}

.is-featured .is-read-more{
  text-transform: uppercase;
}

.is-featured .tag{
  background-color: #0479F7;
  color: #E6DFF5;
  text-transform: uppercase;
  font-size: .70rem;
  transition: .3s;
}

.is-featured .tag:hover{
  text-decoration: none;
  background-color: #02A3FD;
}

.section{
  padding-top: 2rem !important;
  padding-bottom: 1rem !important; 
}

.grid{
  margin: 0 auto;  /*centered */
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  width: 365px;
  margin-bottom: 10px;
}

.card{
  border: 1px solid #E509BB;
  background-color: #0D1730;
}

/*.card-image{
  border-bottom: 1px solid #E509BB;
}*/

.card-opacity{
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(13,23,48,0),  rgba(13,23,48,0.1), rgba(13,23,48,0.2), rgba(13,23,48,0.4), 
  rgba(13,23,48,0.6), rgba(13,23,48,0.8), rgba(13,23,48,0.9), rgba(13,23,48,1)); 
  width: 100%;
  height: 100%;
  z-index: 999;
}

.card-opacity:hover{
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(13,23,48,0), rgba(13,23,48,0.1), rgba(13,23,48,0.3), 
  rgba(13,23,48,0.5), rgba(13,23,48,0.7), rgba(13,23,48,0.8), rgba(13,23,48,1));
  width: 100%;
  height: 100%;
  z-index: 999;
}

.card-content{
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

a.is-title:link, a.is-title:visited{
  color: #E6DFF5;
}

a.is-title:hover, a.is-title:active{
  color: #F326CB;
}

.card-content h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.65rem;
}

.card-content small{
  color: #D7DFF4;
}

.card-content .content p{
  color: #D7DFF4 !important;
}

.card-content .tag{
  background-color: #0479F7;
  color: #E6DFF5;
  text-transform: uppercase;
  font-size: .65rem;
  transition: .3s;
}

.card-content .tag:hover{
  text-decoration: none;
  background-color: #02A3FD;
}

.is-post-image{
  background-color: #000000;
}

.is-post-image img{
  opacity: 0.5;
}

.is-post-title{
  position: absolute;
  top: 30%;
  left: 32%;
  text-align: center;
}

.is-post-title h1{
  font-family: 'Cabin', sans-serif;
  font-size: 4rem;
  color: #fbfbfb;
  margin-top: 1rem !important;
  margin-bottom: .75rem !important;
}

.is-post-title h6{
  font-size: .85rem;
  color: #fbfbfb;
  margin-bottom: 1.2rem !important;
}

.is-post-title .tag{
  text-transform: uppercase;
  font-size: .85rem;
}

.is-post-title .tag:hover{
  text-decoration: none;
  background-color: #595959;
}

.is-post{
  width: 75%;
  margin-left: 12.5%;
}

.is-post h6{
  border-bottom: 1px solid #595959;
}

.is-author{
  margin-top: 2rem;
  margin-left: 31%;
}

.is-author .content{
  margin-top: 1.6rem;
}