body{
	font-family: 'Roboto', sans-serif;
}

a.site-logo:link {
	font-family: 'Major Mono Display', monospace;
	font-size: 30px;
}

.navbar-item{
	line-height: 2.0;
}

.navbar-teste{
	padding-top: 1.0rem;
}

.navbar-social{
	font-size: 1.0rem;
	padding-right: 0.5rem;
}

.title{
	font-family: 'Playfair Display', serif;
}

.media-card-featured{
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 1rem;
}

.media-card-posts{
	background-color: #ffffff;
	border-top: 1px solid #000000 !important;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	padding: 1rem;
	margin-bottom: 1.0rem;
}

.media-title{
	font-family: 'Playfair Display', serif;
	font-size: 1.25rem;
}

.media-image{
	margin-top: 0.80rem;
}

.media-spacing{
	margin-bottom: 0.35rem !important;
}

.media-tags{
	margin-top: 0.60rem;
}

.divider-title{
	font-family: 'Playfair Display', serif;
	font-size: 1.0rem;
	text-transform: uppercase;
	margin-bottom: 1.0rem;
}

.button-group-category{
	margin-bottom: 0.50rem;
}

.grid{
	margin: 0 auto;  /*centered */
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  width: 360px;
  margin-bottom: 10px;
}
